@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
 font-family: 'Raleway', sans-serif;
}

/* CSS Class Container Bootstrap */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* CSS Class Container Bootstrap */

/* CSS Garuda */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

[class*="btn-"]{
	font-family: 'Raleway', sans-serif;
	border:none;
	text-align: center;
	font-size: 15px; 
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 6px;
	color:#f8f9fa;
}

hr{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

button:hover{
	box-shadow: 0 0 1px 1.5px rgba(0, 180, 240, 0.57);
}

.btn-danger {
	background-color:#fa5252;
}

.btn-info {
	background-color:#228be6;
}

.btn-warning {
	background-color:#fab005;
}

.btn-success {
	background-color:#12b886;
}

.btn-default {
	background-color:#868e96;
}

p{
	font-family: 'Raleway', sans-serif;
	display: block;
	margin-left: 0;
	margin-right: 0;
}

[class*="input-"]{
	font-family: 'Raleway', sans-serif;
	width: 100%;
	padding: 10px 15px;
	margin: 6px 0;
	box-sizing: border-box;
	font-size: 16px; 
	border-radius: 4px;
}

.input-danger {
	border-color:#ff8787;
}

.input-info {
	border-color:#4dabf7;
}

.input-warning {
	border-color:#ffd43b;
}

.input-success {
	border-color:#38d9a9;
}

.input-default {
	background-color:#868e96;
}

[class*="select-"]{
	font-family: 'Raleway', sans-serif;
	width: 100%;
	padding: 10px 15px;
	margin: 6px 5;
	box-sizing: border-box;
	font-size: 16px; 
	border-radius: 4px;
}

.select-danger {
	border-color:#ff8787;
}

.select-info {
	border-color:#4dabf7;
}

.select-warning {
	border-color:#ffd43b;
}

.select-success {
	border-color:#38d9a9;
}

.select-default {
	background-color:#868e96;
}

.image{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

.image-circle {
	border: 1px solid #ddd;
	border-radius: 50%;
	padding: 5px;
	width: 150px;
}
.image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* CSS Garuda */
/* Awal Garuda Modal Info */

.garudamodal {
	display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
    
}
.gm-content{
  background-color:#f4f4f4;
  margin: 6% auto;
  width:70%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
 -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  text-align: left;
  border-radius: .3rem;
}

.gm-header-info  h2  , .gm-footer h3 {
  margin:0;
}

.gm-header-info{
  background:  #0275d8;
   padding:15px;
  color:#fff;
    border-bottom: 1px solid #eceeef

}

.gm-body{

 position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px

}

.gm-footer{
   background: white;
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #eceeef;
    color: white;
}
.gm-footer>:not(:first-child) {
    margin-left: .25rem
}

.gm-footer>:not(:last-child) {
    margin-right: .25rem
}
.closeBtn{
  color:black;
  float: right;
  font-size:30px;
  color:#fff;
}

.closeBtn:hover,.closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

/* CSS Garuda */
/* Akhir Garuda Modal Info */


/* CSS Garuda */
/* Awal Garuda Modal Danger */

.gm-header-danger  h2  , .gm-footer h3 {
  margin:0;
}

.gm-header-danger{
  background: red;
   padding:15px;
  color:#fff;
    border-bottom: 1px solid #eceeef;

}
/* CSS Garuda */
/* Akhir Garuda Modal Danger*/


/* Css Garuda */
/* Awal Garuda Modal Success */
.gm-header-success  h2  , .gm-footer h3 {
  margin:0;
}

.gm-header-success{
  background: #12b886;
   padding:15px;
  color:#fff;
    border-bottom: 1px solid #eceeef;

}
/* Css Garuda */
/* Akhir Garuda Modal Success */


/* Css Garuda */
/* Awal Garuda Modal Default */

.gm-header-default  h2  , .gm-footer h3 {
  margin:0;
}

.gm-header-default{
  background: #868e96;
   padding:15px;
  color:#fff;
    border-bottom: 1px solid #eceeef;

}
/* Css Garuda */
/* Akhir Garuda Modal Default */

/* Css Garuda */
/* Awal Garuda Modal Warning */

.gm-header-warning  h2  , .gm-footer h3 {
  margin:0;
}

.gm-header-warning{
  background: #fab005;
   padding:15px;
  color:#fff;
    border-bottom: 1px solid #eceeef;

}
/* Css Garuda */
/* Akhir Garuda Modal Warning */

@media (min-width: 768px) {
  .garuda-modal{
  	max-width: 500px;
     margin: 30px auto;
   
  }
}
@media (min-width: 992px) {
 .garuda-modal{
  	max-width: 500px;
    margin: 30px auto;
    overflow: scroll;
  }
}
@media (min-width: 1200px) {
 .garuda-modal{
  	max-width: 500px;
     margin: 30px auto;
     overflow: scroll;
  }
}
